.download-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.04);
  background: #fff;
  display: grid;
  place-items: center;
  overflow: hidden;
  cursor: pointer;
}

/* Trick for centering the grid items */
svg {
  grid-area: 1 / 1;
  transition: transform 0.2s var(--ease-in-out-circ);
}

svg:first-of-type {
  transform: translateY(-150%);
}

.download-button:hover svg:first-of-type {
  transform: translateY(0);
}

.download-button:hover svg:last-of-type {
  transform: translateY(150%);
}
