.power-up {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  background: url('naruto.png');
  border-radius: 8px;
  perspective: 500px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.power-up img {
  transition: transform 0.25s var(--ease-out-expo);
}

.power-up:hover img {
  transform: translateZ(100px) translateY(-5%);
}

.power-up:hover::before {
  transform: translateY(50%);
}

.power-up::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, transparent, #ff7b00, transparent);
  transform: translateY(150%);
  transition: transform 0.25s var(--ease-out-expo);
  filter: blur(15px);
  z-index: 10;
}
